@model Basic_Bank_Solution.Models.AcessoAdmin

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">Login</h1>

<div class="row">
    <div class="col-md-4 mx-auto border rounded mb-1 bg-primary text-white m-5 ">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="Perfil" class="control-label"></label>
                <input asp-for="Perfil" class="form-control" />
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group d-flex  justify-content-end">
                <input type="submit" value="Cadastrar" class="btn btn-light m-sm-1" />
                <input type="submit" value="Entrar" class="btn btn-light m-sm-1 " />
            </div>
        </form>
    </div>
</div>


